body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    margin: 0; 
}

.header { 
    display: flex; 
    align-items: center; 
}

.logo { 
    width: 50px; 
    height: 50px; 
    background: black; 
    color: white; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold; 
    margin: 10px; 
}

.navbar { 
    flex: 1; 
    display: flex; 
}

.navbar div 
{ flex: 1; 
    padding: 15px; 
    font-weight: bold; 
    text-align: center; 
}

.nav-left { 
    background: #fff2cc; 
}

.nav-center 
{ background: #c2d6ff; 
}

.nav-right { 
    background: #ffd9d9; 
}

.inhalt-container { 
    background: blueviolet; 
    padding: 20px; 
}

.links-navbar {
    background-color:black;
    padding: 15px;
    text-align: center;
}
.links-navbar a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}
.links-navbar a:hover {
    background-color: white;
    color: black;
}

.big-box { 
    width: 80%; 
    height: 50px; 
    background: black; 
    margin: 0 auto 20px auto; 
    border: 2px solid white; 
}
.big-box h1 {
    color: aqua;
}

.footer { 
    display: flex; 
}

.footer-left { 
    flex: 1; 
    background: darkred; 
    height: 50px; 
}

.footer-right { 
    flex: 1; 
    background: black; 
    height: 50px; 
}
  